/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #F9FAFC;
    font-family: "Open Sans", sans-serif;
}

.brand {
    font-family: "Fugaz One", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #39373c;
}

.navbar {
    background-color: #fda048;
    color: #39373c;
}

.light-bg {
    background-color: #bcbfc4;
}

.dark-bg {
    background-color: #39373c;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    background-color: #3c544c;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color:#3c544c;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}


.post-link {
    text-decoration: none;
    color: #3c544c;
}

.edit-link {
    color: #39373c;
}

.post-link:hover{
    color: #fda048;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #bcbfc4;
}

.btn-signup,
.btn-review-edit,
.btn-post-edit,
.page-link {
    background-color: #fda048;
    color: #39373c;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #39373c;
    color: #fda048;
}

.link {
    color: #fda048;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-review-delete,
.btn-post-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


.approval  {
    color: rgb(172, 175, 175);
}

.faded {
    color: rgb(172, 175, 175);
}
